.gameTitle {
    background-color: burlywood;
}

.cubeArea {
    width: 300px;
    display: flex;
    flex-wrap: wrap;

}

.cubeElement {
    background-color: lightgray;
    height: 100px;
    width: 100px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cubeElement-winner {
    background-color: lightgreen;
}

.circleElement-active {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: black;
}


.resultTable {
    background-color: rebeccapurple;
}

.chosenButton {
    background-color: lightgrey;
}

.chosenButton-active {
    background-color: black;
    color: white;
}